[View in Colaboratory](https://colab.research.google.com/github/qqqxinxin/Pandas-with-Dataset/blob/master/Using_Pandas_with_Dataset.ipynb)

In [0]:
documents= ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]

In [0]:
""" rstrip is to remove the symbol you want at the end of the string"""
index=[]
for key,value in enumerate(documents):
        seperate=value.split()
        final_word=[word.rstrip(',.').lower() for word in seperate] 
       
        print(final_word)
        if 'they' in final_word:
            print(key)
            index.append(key)
print (index)

In [4]:
documents[:-1]

['The Learn Python Challenge Casino.', 'They bought a car and a casino']

In [0]:
xin=['a','b','c']

In [0]:
documents+xin

In [0]:
[3, 4, 1, 2, 2, 1]+10

In [0]:
rolls=[3, 4, 1, 2, 2, 1]

In [15]:
# cover a list to a np array, then we can add or compare value to each element in the array
import numpy as np
a=[3, 4, 1, 2, 2, 1]
rolls=np.asarray(a)

print(rolls+10)
print (rolls<3)

[13 14 11 12 12 11]
[False False  True  True  True  True]

In [18]:


def best_items(racers):
    winner_item_counts = {}
    for i in range(len(racers)):
        # The i'th racer dictionary
        racer = racers[i]
        # We're only interested in racers who finished in first
        if racer['finish'] == 1:
            for item in racer['items']:
                # Add one to the count for this item (adding it to the dict if necessary)
                if i not in winner_item_counts:
                    winner_item_counts[item] = 0
                winner_item_counts[item] += 1

        # Data quality issues :/ Print a warning about racers with no name set. We'll take care of it later.
        if racer['name'] is None:
            print("WARNING: Encountered racer with unknown name on iteration {}/{} (racer = {})".format(
                i+1, len(racers), racer['name'])
                 )
    return winner_item_counts
  
sample = [
    {'name': 'Peach', 'items': ['green shell', 'banana', 'green shell',], 'finish': 3},
    {'name': 'Bowser', 'items': ['green shell',], 'finish': 1},
    {'name': None, 'items': ['mushroom',], 'finish': 2},
    {'name': 'Toad', 'items': ['green shell', 'mushroom'], 'finish': 1},
]
best_items(sample)

WARNING: Encountered racer with unknown name on iteration 3/4 (racer = None)

{'green shell': 1, 'mushroom': 1}

In [0]:
def blackjack_hand_greater_than(hand_1, hand_2):
    """
    Return True if hand_1 beats hand_2, and False otherwise.  
    In order for hand_1 to beat hand_2 the following must be true:
    - The total of hand_1 must not exceed 21
    - The total of hand_1 must exceed the total of hand_2 OR hand_2's total must exceed 21
    
    Hands are represented as a list of cards. Each card is represented by a string.
    
    When adding up a hand's total, cards with numbers count for that many points. Face
    cards ('J', 'Q', and 'K') are worth 10 points. 'A' can count for 1 or 11.
    
    When determining a hand's total, you should try to count aces in the way that 
    maximizes the hand's total without going over 21. e.g. the total of ['A', 'A', '9'] is 21,
    the total of ['A', 'A', '9', '3'] is 14.
    
    Examples:
    >>> blackjack_hand_greater_than(['K'], ['3', '4'])
    True
    >>> blackjack_hand_greater_than(['K'], ['10'])
    False
    >>> blackjack_hand_greater_than(['K', 'K', '2'], ['3'])
    False
    """
def hand_total(hand):
    """Helper function to calculate the total points of a blackjack hand.
    """
    total = 0
    # Count the number of aces and deal with how to apply them at the end.
    aces = 0
    for card in hand:
        if card in ['J', 'Q', 'K']:
            total += 10
        elif card == 'A':
            aces += 1
        else:
            # Convert number cards (e.g. '7') to ints
            total += int(card)
    # At this point, total is the sum of this hand's cards *not counting aces*.

    # Add aces, counting them as 1 for now. This is the smallest total we can make from this hand
    total += aces
    # "Upgrade" aces from 1 to 11 as long as it helps us get closer to 21
    # without busting
    while total + 10 <= 21 and aces > 0:
        # Upgrade an ace from 1 to 11
        total += 10
        aces -= 1
    return total

def blackjack_hand_greater_than(hand_1, hand_2):
    total_1 = hand_total(hand_1)
    total_2 = hand_total(hand_2)
    return total_1 <= 21 and (total_1 > total_2 or total_2 > 21)

In [21]:
"""Pandas practice
Create the following `DataFrame`
"""

import pandas as pd
pd.DataFrame({'Apples':[30],'Bananas':[21]})

   Apples  Bananas
0      30       21

In [22]:
pd.DataFrame(
    {'Apples': [35, 41], 'Bananas': [21, 34]},
    index=['2017 Sales', '2018 Sales']
)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [23]:
# Create a `Series`
pd.Series(['4 cups', '1 cup', '2 large', '1 can'], 
index=['Flour', 'Milk', 'Eggs', 'Spam'], 
name='Dinner')

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [26]:
# Save the dataframe to a csv file
q6_df = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
q6_df.to_csv("cows_and_goats.csv")
print(q6_df)

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [0]:
# Read sql data file, the file name is artists, into DataFrame,just an example
import webbrowser

webbrowser.open('https://i.imgur.com/mmvbOT3.png')

import sqlite3
conn = sqlite3.connect("../input/pitchfork-data/database.sqlite")
pd.read_sql_query("SELECT * FROM artists", conn)

In [32]:

import pandas as pd
import seaborn as sns
# winemag-data-130k-v2.csv from datascience desktop
from google.colab import files

uploaded = files.upload()

In [0]:
reviews=pd.read_csv("winemag-data-130k-v2.csv",index_col=0)

In [38]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [0]:
# Select the `description` column from `reviews = reviews.description or
reviews['description'] 

# Select the first value from the description column of `reviews = reviews.description[0] or
reviews['description'][0] 

# Select the first row of data (the first record) from `reviews`. Hint: from this exercise onwards I strongly recommend using `loc` or `iloc`
reviews.iloc[0]

# data.iloc[0:5] # first five rows of dataframe
# data.iloc[:, 0:2] # first two columns of data frame with all rows
# data.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.
# data.iloc[0:5, 5:8] # first 5 rows and 5th, 6th, 7th columns of data frame (county -> phone1).

# # Rows:
# data.iloc[0] # first row of data frame (Aleshia Tomkiewicz) - Note a Series data type output.
# data.iloc[1] # second row of data frame (Evan Zigomalas)
# data.iloc[-1] # last row of data frame (Mi Richan)
# # Columns:
# data.iloc[:,0] # first column of data frame (first_name)
# data.iloc[:,1] # second column of data frame (last_name)
# data.iloc[:,-1] # last column of data frame (id)

#  Select the first 10 values from the `description` column in `reviews`. Hint: format your output as a `pandas` `Series`.
reviews.iloc[0:10, 1]

# Select wines made in `Italy`. Hint: `reviews.country` equals what?
reviews.loc[reviews.country == 'Italy']

# Select wines whose `region_2` is not `NaN`.
reviews.loc[reviews.region_2.notnull()]

# Who produces more above-averagely good wines, France or Italy? Select the `country` column, but only  when said `country` is one of those two options, _and_ the `points` column is greater than or equal to 90.
reviews [reviews.country.isin(["Italy", "France"]) & (reviews.points >= 90)].country

# What countries are represented in the dataset?
reviews.country.unique()

# What countries appear in the dataset most often?
reviews.country.value_counts()

#  Remap the `price` column by subtracting the median price. Use the `Series.map` method.
median_price = reviews.price.median()
reviews.price.map(lambda v: v - median_price)

#  I"m an economical wine buyer. Which wine in is the "best bargain", e.g., which wine has the highest points-to-price ratio in the dataset?
reviews.loc[(reviews.points / reviews.price).idxmax()].title

# Is a wine more likely to be "tropical" or "fruity"? Create a `Series` counting how many times each of these two words appears in the `description` column in the dataset.
tropical_wine = reviews.description.map(lambda r: "tropical" in r).value_counts()
fruity_wine = reviews.description.map(lambda r: "fruity" in r).value_counts()
pd.Series([tropical_wine[True], fruity_wine[True]], index=['tropical', 'fruity'])

# Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.
common_wine_reviewers =reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()

# What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the valeus by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).
reviews.groupby('price').points.max().sort_index()

# What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.
reviews.groupby('variety').price.agg([min, max])

# Are there significant differences in the average scores assigned by the various reviewers? Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.
reviews.groupby('taster_name').points.mean()

# What are the most expensive wine varieties? Create a `DataFrame` whose index is wine varieties and whose values are columns with the `min` and the `max` price of wines of this variety. Sort in descending order based on `min` first, `max` second.
reviews.groupby('variety').price.agg([min, max]).sort_values(by=['min', 'max'], ascending=False)

**Data types and missing data workbook**

In [0]:
# What is the data type of the `points` column in the dataset?
reviews.points.dtype

# Create a `Series` from entries in the `price` column, but convert the entries to strings. Hint: strings are `str` in native Python.
print(reviews.price.astype(str))

# Some wines do not list a price. How often does this occur? Generate a `Series`that, for each review in the dataset, states whether the wine reviewed has a null `price`.
reviews.price.isnull()

# What are the most common wine-producing regions? Create a `Series` counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order.  Your output should look something like this:
reviews.region_1.fillna("Unknown").value_counts()


# A neat property of boolean data types, like the ones created by the `isnull()` method, is that `False` gets treated as 0 and `True` as 1 when performing math on the values. Thus, the `sum()` of a list of boolean values will return how many times `True` appears in that list.
# Create a `pandas` `Series` showing how many times each of the columns in the dataset contains null values. Your result should look something like this:
reviews.isnull().sum()

# region_1` and `region_2` are pretty uninformative names for locale columns in the dataset. Rename these columns to `region` and `locale`
reviews.rename(columns={'region_1': 'region', 'region_2': 'locale'})

#  Set the index name in the dataset to `wines`.
reviews.rename_axis("wines", axis="rows")

<img src="http://upload-images.jianshu.io/upload_images/2233157-b77105789e36c847.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" style="width: 652px;">[link text](https://)

In [0]:
# The [Things on Reddit](https://www.kaggle.com/residentmario/things-on-reddit/data) dataset includes product links from a selection of top-ranked forums ("subreddits") on Reddit.com. Create a `DataFrame` of products mentioned on *either* subreddit. Use the following data: 
pd.concat([gaming_products, movie_products])

# The [Powerlifting Database](https://www.kaggle.com/open-powerlifting/powerlifting-database) dataset on Kaggle includes one CSV table for powerlifting meets and a separate one for powerlifting competitors. Both tables include references to a `MeetID`, a unique key for each meet (competition) included in the database. Using this, generate a dataset combining the two tables into one. Use the following data:
powerlifting_meets.set_index("MeetID").join(powerlifting_competitors.set_index("MeetID"))

# It's well-known that in the game of chess, white has a slight first-mover advantage against black. Can you measure this effect in this dataset? Use the `winner` column to create a `pandas` `Series` showing how often white wins, how often black wins, and how often the result is a tie, as a ratio of total games played
# return(row,columns)
print(chess_games.shape)  
chess_games['winner'].value_counts() / len(chess_games)
"""len(chess_games) is the total row of this dataset"""